Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff, black

check-toml:
  name: Check Toml
  entry: hatch run hatch-static-analysis:check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: hatch run hatch-static-analysis:check-yaml
  language: system

ruff:
  name: ruff check
  entry: hatch run hatch-static-analysis:ruff check
  args:
  - --fix
  language: system
  require_serial: true

black:
  name: ruff format
  entry: hatch run hatch-static-analysis:ruff format
  language: system
  require_serial: true

Pass config to load all load_registered_bindings
  euporie/console/tabs/console.py
  euporie/core/widgets/display.py
  euporie/core/widgets/inputs.py
  euporie/core/widgets/pager.py
  euporie/core/widgets/search.py
  euporie/notebook/tabs/edit.py
  euporie/notebook/tabs/notebook.py
  euporie/web/widgets/webview.py
Due: ruff, black

Fix documentation generation
  euporie/core/launch.py
  pyproject.toml
  scripts/document_configuration_options.py
  scripts/document_default_key_bindings.py
Due: check-toml, ruff, black

Update pillow dependency
  pyproject.toml
Due: check-toml

Update docs requirements
  docs/requirements.txt
Due: none

Do not patch PTK unless launching a euporie app
  CHANGELOG.rst
  euporie/core/__init__.py
  euporie/core/__main__.py
Due: ruff, black

Release v2.8.2
  CHANGELOG.rst
  euporie/core/__init__.py
Due: ruff, black

Update publish script
  scripts/publish.py
Due: ruff, black

Fix `markdown-it-py` version #114
  pyproject.toml
Due: check-toml

Improve performance by caching lexer selection result
  euporie/core/widgets/inputs.py
Due: ruff, black

Add setting to toggle syntax highlighting
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/widgets/inputs.py
  euporie/notebook/app.py
Due: ruff, black

Release v2.8.3
  euporie/core/__init__.py
Due: ruff, black

Handle exception on missing size instance
  euporie/core/convert/datum.py
Due: ruff, black

Bump `sixelcrop` dependency
  pyproject.toml
Due: check-toml

Implement nested scrolling
  euporie/core/layout/containers.py
  euporie/core/layout/scroll.py
Due: ruff, black

Allow un/indenting using `tab`/`s-tab` in vi insert mode
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/key_binding/bindings/__init__.py
  euporie/core/key_binding/bindings/vi.py
Due: ruff, black

Style changes to cell collapse buttons
  euporie/core/style.py
  euporie/core/widgets/cell.py
Due: ruff, black

Update linting dependencies
  pyproject.toml
Due: check-toml

Add script to run preview app
  scripts/run_preview.py
Due: ruff, black

Typing fixes
  euporie/core/__main__.py
  euporie/core/key_binding/bindings/vi.py
  euporie/core/layout/containers.py
  euporie/hub/app.py
  pyproject.toml
Due: check-toml, ruff, black

Show arrow instead of line number for single-line inputs
  CHANGELOG.rst
  euporie/core/margins.py
Due: ruff, black

Allow display of remote in/outputs
  CHANGELOG.rst
  euporie/console/tabs/console.py
  euporie/core/comm/ipywidgets.py
  euporie/core/kernel.py
  euporie/core/layout/print.py
  euporie/core/tabs/base.py
  euporie/core/tabs/notebook.py
  euporie/core/widgets/cell.py
Due: ruff, black

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  black: any of: \.py$
