Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff, black

check-toml:
  name: Check Toml
  entry: hatch run check:check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: hatch run check:check-yaml
  language: system

ruff:
  name: ruff check
  entry: hatch run check:ruff check
  args:
  - --fix
  language: system
  require_serial: true

black:
  name: ruff format
  entry: hatch run check:ruff format
  language: system
  require_serial: true

Add LSP support to base `KernelTab`
  euporie/core/tabs/base.py
Due: ruff, black

Add overrides for LSP support in Console tab
  euporie/console/tabs/console.py
Due: ruff, black

Add overrides for LSP support in `Notebook` tab
  euporie/core/tabs/notebook.py
Due: ruff, black

Add LSP support for notebook cells
  euporie/core/widgets/cell.py
Due: ruff, black

Configure typos-lsp
  pyproject.toml
Due: check-toml

Switch back from `contextlib.supress` to `try ... except`
  euporie/core/app.py
  euporie/core/config.py
  euporie/core/layout/scroll.py
  euporie/core/lexers.py
  euporie/core/path.py
  euporie/core/tabs/base.py
  euporie/core/terminal.py
  euporie/core/widgets/dialog.py
  euporie/core/widgets/file_browser.py
  euporie/core/widgets/inputs.py
  euporie/core/widgets/layout.py
  pyproject.toml
Due: check-toml, ruff, black

Clean up unused code
  euporie/console/tabs/console.py
Due: ruff, black

Update changelog
  CHANGELOG.rst
Due: none

Only show notebook rendering status once pre-rendering starts
  euporie/notebook/tabs/notebook.py
Due: ruff, black

Start `ScrollingContaer` prerendering after initial draw
  euporie/core/layout/scroll.py
Due: ruff, black

Add setting to enable/disable LSP
  euporie/core/app.py
Due: ruff, black

Add setting to configure LSP servers
  euporie/core/app.py
  euporie/core/lsp.py
Due: ruff, black

Remove non-functional kitty workaround
  euporie/core/app.py
Due: ruff, black

Add ipykernel environment
  pyproject.toml
Due: check-toml

Move fotmat setting to `KernelInput`
  euporie/core/app.py
  euporie/core/widgets/inputs.py
Due: ruff, black

Clean up LSP settings
  euporie/core/app.py
Due: ruff, black

Re-organize notebook app menu
  euporie/core/config.py
  euporie/notebook/app.py
Due: ruff, black

Update copyright year
  euporie/core/__init__.py
Due: ruff, black

Rename `search_bar` module to `search`
  euporie/console/app.py
  euporie/console/tabs/console.py
  euporie/core/app.py
  euporie/core/widgets/search.py
  euporie/notebook/app.py
Due: ruff, black

Rename `status_bar` module to `status`
  euporie/console/app.py
  euporie/core/tabs/base.py
  euporie/core/widgets/file_browser.py
  euporie/core/widgets/inputs.py
  euporie/core/widgets/menu.py
  euporie/core/widgets/palette.py
  euporie/core/widgets/status.py
  euporie/notebook/app.py
  euporie/notebook/tabs/display.py
  euporie/notebook/tabs/edit.py
  euporie/notebook/tabs/json.py
  euporie/notebook/tabs/notebook.py
  euporie/web/tabs/web.py
Due: ruff, black

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  black: any of: \.py$
