Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff, black

check-toml:
  name: Check Toml
  entry: hatch run check:check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: hatch run check:check-yaml
  language: system

ruff:
  name: ruff check
  entry: hatch run check:ruff check
  args:
  - --fix
  language: system
  require_serial: true

black:
  name: ruff format
  entry: hatch run check:ruff format
  language: system
  require_serial: true

Update `universal_pathlib`
  euporie/core/convert/mime.py
  euporie/core/path.py
  pyproject.toml
  tests/test_core_convert_mime.py
  tests/test_core_path.py
Due: check-toml, ruff, black

Update precommit hooks
  .pre-commit-config.yaml
Due: check-yaml

Clean up unused code
  euporie/core/path.py
Due: ruff, black

Update cell widget docstring
  euporie/core/widgets/cell.py
Due: ruff, black

Use new `Upath.joinuri` method
  euporie/core/ft/html.py
Due: ruff, black

Fix `UntitledPath` implementation
  euporie/core/path.py
  pyproject.toml
Due: check-toml, ruff, black

Remove debug logging statement
  euporie/core/tabs/notebook.py
Due: ruff, black

Add special key-bindings for xterm
  euporie/notebook/tabs/notebook.py
Due: ruff, black

Fix numlock+Enter on kitty
  euporie/core/keys.py
Due: ruff, black

Use ordered set for tab file_extensions
  euporie/core/tabs/base.py
  euporie/notebook/tabs/notebook.py
Due: ruff, black

Fix saving notebook with no file extension
  euporie/core/tabs/notebook.py
Due: ruff, black

Fix cell border visibility logic
  euporie/core/widgets/cell.py
Due: ruff, black

Simplify `UnititledPath` implementation
  euporie/core/path.py
Due: ruff, black

Correct typo in docstring
  euporie/core/ft/html.py
Due: ruff, black

Typing fixes to placate mypy
  euporie/core/convert/mime.py
  euporie/core/ft/html.py
  euporie/core/tabs/base.py
  euporie/core/widgets/menu.py
Due: ruff, black

Update changelog
  CHANGELOG.rst
Due: none

Release v2.8.0
  euporie/core/__init__.py
Due: ruff, black

Fix Numlock + Tab in kitty
  CHANGELOG.rst
  euporie/core/keys.py
Due: ruff, black

Fix pager mime selection issue
  CHANGELOG.rst
  euporie/core/widgets/cell_outputs.py
  euporie/core/widgets/pager.py
Due: ruff, black

Release v2.8.1
  euporie/core/__init__.py
Due: ruff, black

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  black: any of: \.py$
