Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: debug-statements, check-ast, check-toml, check-yaml, ruff-check, ruff-format, codespell

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: python

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: python

check-toml:
  name: Check Toml
  entry: hatch run hatch-static-analysis:check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: hatch run hatch-static-analysis:check-yaml
  language: system

ruff-check:
  name: ruff check
  entry: hatch run hatch-static-analysis:ruff check
  args:
  - --fix
  language: system

ruff-format:
  name: ruff format
  entry: hatch run hatch-static-analysis:ruff format
  language: system

codespell:
  name: codespell
  description: Checks for common misspellings in text files.
  entry: hatch run hatch-static-analysis:codespell
  language: system

Increment to next dev version
  euporie/core/__init__.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add development dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Update build scripts and use `towncrier`
  CHANGELOG.rst
  DEVELOPMENT.rst
  VERSION
  changelog.d/_template.rst
  changelog.d/release-tooling.added
  packages/apptk/pyproject.toml
  packages/euporie-console/pyproject.toml
  packages/euporie-core/pyproject.toml
  packages/euporie-hub/pyproject.toml
  packages/euporie-notebook/pyproject.toml
  packages/euporie-preview/pyproject.toml
  pyproject.toml
  scripts/debug_vt100_input.py
  scripts/pre_commit_patch.py
  scripts/publish.py
  scripts/release.py
  src/euporie/meta/__init__.py
  uv.lock
Due: debug-statements, check-ast, check-toml, ruff-check, ruff-format, codespell

Add doc dev deps and tasks
  pyproject.toml
  uv.lock
Due: check-toml

Fix scripts
  packages/euporie-core/pyproject.toml
  packages/euporie-notebook/src/euporie/notebook/tabs/web.py
  scripts/debug_vt100_input.py
  scripts/document_cli_flags.py
  scripts/document_commands.py
  scripts/document_configuration_options.py
  scripts/document_default_key_bindings.py
  scripts/show.py
Due: debug-statements, check-ast, check-toml, ruff-check, ruff-format, codespell

Only run tests pre-commit hook for Python files
  .pre-commit-config.yaml
Due: check-yaml

Update conventions file
  CONVENTIONS.rst
Due: codespell

Add changelog entries
  changelog.d/+apptk-package.added.rst
  changelog.d/+background-patterns.added.rst
  changelog.d/+chawan-renderer.added.rst
  changelog.d/+color-detection.changed.rst
  changelog.d/+css-optimization.changed.rst
  changelog.d/+file-browser-improvements.changed.rst
  changelog.d/+float-overflow.added.rst
  changelog.d/+graphics-obscured.changed.rst
  changelog.d/+graphics-refactor.changed.rst
  changelog.d/+keybinding-refactor.changed.rst
  changelog.d/+left-float-fix.fixed.rst
  changelog.d/+menu-improvements.added.rst
  changelog.d/+mermaid-diagrams.added.rst
  changelog.d/+micro-selection-fix.fixed.rst
  changelog.d/+scrollbar-fix.fixed.rst
  changelog.d/+separate-packages.changed.rst
  changelog.d/+sgr-attributes.added.rst
  changelog.d/+synchronized-output.added.rst
  changelog.d/+terminal-tabs.added.rst
  changelog.d/+towncrier.changed.rst
  changelog.d/+uv-migration.changed.rst
  changelog.d/release-tooling.added
Due: codespell

Use dependency groups
  pyproject.toml
  uv.lock
Due: check-toml

Update testing conventions
  CONVENTIONS.rst
Due: codespell

Fix existing tests
  packages/apptk/tests/test_async_utils.py
  packages/apptk/tests/test_commands.py
  packages/apptk/tests/test_convert_datum.py
  packages/apptk/tests/test_convert_formats_markdown.py
  packages/apptk/tests/test_convert_mime.py
  packages/apptk/tests/test_convert_utils.py
  packages/apptk/tests/test_data_structures.py
  packages/apptk/tests/test_filters_environment.py
  packages/apptk/tests/test_ft_ansi.py
  packages/apptk/tests/test_ft_html.py
  packages/apptk/tests/test_ft_utils.py
  packages/apptk/tests/test_layout_containers.py
  packages/apptk/tests/test_lexers.py
  packages/apptk/tests/test_style.py
  packages/euporie-core/tests/test_comm_base.py
  packages/euporie-core/tests/test_comm_ipywidgets.py
  packages/euporie-core/tests/test_comm_registry.py
  packages/euporie-core/tests/test_completions.py
  packages/euporie-core/tests/test_current.py
  packages/euporie-core/tests/test_pygments.py
  packages/euporie-core/tests/test_utils.py
  packages/euporie-core/tests/test_validation.py
  pyproject.toml
  tests/__init__.py
  uv.lock
Due: debug-statements, check-ast, check-toml, ruff-check, ruff-format, codespell

Create test matrix
  pyproject.toml
Due: check-toml

Fix Python 3.10 support
  packages/apptk/src/apptk/enums.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fail early in pre-commit tests
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml

Fix backwards compatibility of `apptk.styles.base.Attrs`
  packages/apptk/src/apptk/styles/base.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fix child distribution in `H/VSplit`
  changelog.d/+split-distribution.fixed.rst
  packages/apptk/src/apptk/layout/containers.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fix `UPath` serialization in config
  packages/euporie-core/src/euporie/core/config.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Rename `HTML` override to `RichHTML`
  changelog.d/+rich-html.changed.rst
  packages/apptk/src/apptk/convert/formats/ft.py
  packages/apptk/src/apptk/formatted_text/html.py
  packages/apptk/tests/__init__.py
  packages/apptk/tests/test_ft_html.py
  packages/euporie-core/src/euporie/core/widgets/forms.py
  packages/euporie-core/src/euporie/core/widgets/webview.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Rename style test module to color
  packages/apptk/tests/test_color.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add prompt_toolkit tests for `apptk`
  packages/apptk/tests/ptk/__init__.py
  packages/apptk/tests/ptk/test_async_generator.py
  packages/apptk/tests/ptk/test_buffer.py
  packages/apptk/tests/ptk/test_completion.py
  packages/apptk/tests/ptk/test_document.py
  packages/apptk/tests/ptk/test_filter.py
  packages/apptk/tests/ptk/test_formatted_text.py
  packages/apptk/tests/ptk/test_history.py
  packages/apptk/tests/ptk/test_inputstream.py
  packages/apptk/tests/ptk/test_key_binding.py
  packages/apptk/tests/ptk/test_layout.py
  packages/apptk/tests/ptk/test_memory_leaks.py
  packages/apptk/tests/ptk/test_print_formatted_text.py
  packages/apptk/tests/ptk/test_regular_languages.py
  packages/apptk/tests/ptk/test_shortcuts.py
  packages/apptk/tests/ptk/test_style.py
  packages/apptk/tests/ptk/test_style_transformation.py
  packages/apptk/tests/ptk/test_utils.py
  packages/apptk/tests/ptk/test_vt100_output.py
  packages/apptk/tests/ptk/test_widgets.py
  packages/apptk/tests/ptk/test_yank_nth_arg.py
  pyproject.toml
Due: debug-statements, check-ast, check-toml, ruff-check, ruff-format, codespell

Pin `prompt_toolkit` version
  packages/apptk/pyproject.toml
  uv.lock
Due: check-toml

Improve terminal feature detection
  packages/apptk/src/apptk/application/application.py
  packages/apptk/src/apptk/input/vt100_parser.py
  packages/apptk/src/apptk/key_binding/bindings/terminal.py
  packages/apptk/src/apptk/keys.py
  packages/apptk/src/apptk/output/base.py
  packages/apptk/src/apptk/output/vt100.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Convert `escape, key` bindings to `Alt+key`
  packages/apptk/src/apptk/commands.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Cache default key-bindings
  packages/apptk/src/apptk/key_binding/defaults.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fix `named_command` to `Command` conversion
  packages/apptk/src/apptk/commands.py
  packages/apptk/src/apptk/key_binding/bindings/named_commands.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add `prompt_toolkit` end-to-end tests
  packages/apptk/tests/ptk/test_cli.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Drain stdin at exit
  changelog.d/+drain-stdin.fixed.rst
  packages/apptk/src/apptk/application/application.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Use all symbols for chafa conversion
  packages/apptk/src/apptk/convert/formats/common.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Linting fixes
  packages/apptk/tests/ptk/__init__.py
  packages/apptk/tests/ptk/test_async_generator.py
  packages/apptk/tests/ptk/test_buffer.py
  packages/apptk/tests/ptk/test_cli.py
  packages/apptk/tests/ptk/test_completion.py
  packages/apptk/tests/ptk/test_document.py
  packages/apptk/tests/ptk/test_filter.py
  packages/apptk/tests/ptk/test_formatted_text.py
  packages/apptk/tests/ptk/test_history.py
  packages/apptk/tests/ptk/test_inputstream.py
  packages/apptk/tests/ptk/test_key_binding.py
  packages/apptk/tests/ptk/test_layout.py
  packages/apptk/tests/ptk/test_memory_leaks.py
  packages/apptk/tests/ptk/test_print_formatted_text.py
  packages/apptk/tests/ptk/test_regular_languages.py
  packages/apptk/tests/ptk/test_shortcuts.py
  packages/apptk/tests/ptk/test_style.py
  packages/apptk/tests/ptk/test_style_transformation.py
  packages/apptk/tests/ptk/test_utils.py
  packages/apptk/tests/ptk/test_vt100_output.py
  packages/apptk/tests/ptk/test_widgets.py
  packages/apptk/tests/ptk/test_yank_nth_arg.py
  packages/euporie-core/src/euporie/core/_settings.py
  packages/euporie-core/src/euporie/core/widgets/dialog.py
  packages/euporie-core/src/euporie/core/widgets/logo.py
  pyproject.toml
Due: debug-statements, check-ast, check-toml, ruff-check, ruff-format, codespell

Fix typos
  packages/apptk/src/apptk/layout/graphics.py
  packages/apptk/src/apptk/styles/named_colors.py
  packages/apptk/tests/ptk/test_buffer.py
  packages/apptk/tests/ptk/test_cli.py
  packages/apptk/tests/ptk/test_regular_languages.py
  packages/euporie-core/src/euporie/core/widgets/cell_outputs.py
  pyproject.toml
Due: debug-statements, check-ast, check-toml, ruff-check, ruff-format, codespell

Use ansi colors in default syntax theme
  changelog.d/+default-syntax-theme.changed.rst
  packages/apptk/src/apptk/convert/formats/html.py
  packages/euporie-core/src/euporie/core/app/app.py
  packages/euporie-core/src/euporie/core/pygments.py
  packages/euporie-core/src/euporie/core/widgets/cell_outputs.py
  packages/euporie-core/tests/test_pygments.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Xfail memory-leak test on PyPy
  packages/apptk/tests/ptk/test_memory_leaks.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add `apptk` entries to log
  packages/euporie-core/src/euporie/core/log.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add menu item to edit config file
  changelog.d/+open-config-file.added.rst
  packages/euporie-notebook/src/euporie/notebook/_commands.py
  packages/euporie-notebook/src/euporie/notebook/app.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fix `jupytext` dependency typo
  packages/euporie-core/pyproject.toml
  uv.lock
Due: check-toml

Add helix edit mode
  changelog.d/+helix-keybindings.added.rst
  packages/apptk/src/apptk/application/application.py
  packages/apptk/src/apptk/enums.py
  packages/apptk/src/apptk/filters/modes.py
  packages/apptk/src/apptk/key_binding/bindings/helix.py
  packages/apptk/src/apptk/key_binding/defaults.py
  packages/apptk/src/apptk/key_binding/helix_state.py
  packages/euporie-core/src/euporie/core/app/_settings.py
  packages/euporie-core/src/euporie/core/bars/command.py
  packages/euporie-core/src/euporie/core/bars/search.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Move toolbars and search from euporie-core to apptk
  packages/apptk/src/apptk/enums.py
  packages/apptk/src/apptk/filters/__init__.py
  packages/apptk/src/apptk/filters/app.py
  packages/apptk/src/apptk/filters/modes.py
  packages/apptk/src/apptk/key_binding/bindings/helix.py
  packages/apptk/src/apptk/key_binding/bindings/micro.py
  packages/apptk/src/apptk/key_binding/defaults.py
  packages/apptk/src/apptk/layout/containers.py
  packages/apptk/src/apptk/layout/controls.py
  packages/apptk/src/apptk/search.py
  packages/apptk/src/apptk/widgets/__init__.py
  packages/apptk/src/apptk/widgets/menus.py
  packages/apptk/src/apptk/widgets/toolbars.py
  packages/euporie-console/src/euporie/console/app.py
  packages/euporie-core/src/euporie/core/app/app.py
  packages/euporie-core/src/euporie/core/bars/__init__.py
  packages/euporie-core/src/euporie/core/bars/_commands.py
  packages/euporie-core/src/euporie/core/bars/command.py
  packages/euporie-core/src/euporie/core/bars/menu.py
  packages/euporie-core/src/euporie/core/bars/search.py
  packages/euporie-core/src/euporie/core/bars/status.py
  packages/euporie-core/src/euporie/core/filters.py
  packages/euporie-core/src/euporie/core/widgets/palette.py
  packages/euporie-notebook/src/euporie/notebook/app.py
  packages/euporie-notebook/src/euporie/notebook/tabs/_commands.py
  packages/euporie-notebook/src/euporie/notebook/tabs/new.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Hide micro binding commands
  packages/apptk/src/apptk/key_binding/bindings/micro.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Path conditions:
  debug-statements: any of: \.py$
  check-ast: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  codespell: any of: \.(md|txt|rst|py)$
