Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: debug-statements, check-ast, check-toml, check-yaml, ruff-check, ruff-format, codespell

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: python

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: python

check-toml:
  name: Check Toml
  entry: hatch run hatch-static-analysis:check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: hatch run hatch-static-analysis:check-yaml
  language: system

ruff-check:
  name: ruff check
  entry: hatch run hatch-static-analysis:ruff check
  args:
  - --fix
  language: system

ruff-format:
  name: ruff format
  entry: hatch run hatch-static-analysis:ruff format
  language: system

codespell:
  name: codespell
  description: Checks for common misspellings in text files.
  entry: hatch run hatch-static-analysis:codespell
  language: system

Update `apptk`'s `modshim` dependency
  packages/apptk/pyproject.toml
  uv.lock
Due: check-toml

Refactor language reference
  changelog/+language-config.changed.rst
  packages/euporie-console/src/euporie/console/tabs/console.py
  packages/euporie-core/src/euporie/core/app/app.py
  packages/euporie-core/src/euporie/core/format.py
  packages/euporie-core/src/euporie/core/languages.py
  packages/euporie-core/src/euporie/core/lsp.py
  packages/euporie-core/src/euporie/core/settings.py
  packages/euporie-core/src/euporie/core/tabs/console.py
  packages/euporie-core/src/euporie/core/tabs/kernel.py
  packages/euporie-core/src/euporie/core/widgets/inputs.py
  pyproject.toml
  scripts/clone_helix_lsp_config.py
  scripts/update_language_reference.py
Due: debug-statements, check-ast, check-toml, ruff-check, ruff-format, codespell

Update coding conventions
  CONVENTIONS.rst
Due: codespell

Use language-aware comment prefixes
  packages/apptk/src/apptk/application/application.py
  packages/apptk/src/apptk/key_binding/bindings/helix.py
  packages/apptk/src/apptk/key_binding/bindings/micro.py
  packages/apptk/src/apptk/key_binding/bindings/named_commands.py
  packages/apptk/src/apptk/layout/controls.py
  packages/apptk/tests/test_key_binding_bindings_named_commands.py
  packages/euporie-core/src/euporie/core/app/app.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Document comment toggle change
  changelog/+toggle-comments.added.rst
Due: codespell

Fix `edit_mode` setting type
  packages/euporie-core/src/euporie/core/settings.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Persist toolbar buffer history
  changelog/+toolbar-history.added.rst
  packages/apptk/src/apptk/widgets/toolbars.py
  packages/euporie-console/src/euporie/console/app.py
  packages/euporie-core/src/euporie/core/app/_commands.py
  packages/euporie-core/src/euporie/core/app/app.py
  packages/euporie-core/src/euporie/core/history.py
  packages/euporie-core/src/euporie/core/settings.py
  packages/euporie-core/src/euporie/core/tabs/_commands.py
  packages/euporie-notebook/src/euporie/notebook/app.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fix table bug
  packages/apptk/src/apptk/formatted_text/table.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add convenience methods to `Table`
  packages/apptk/src/apptk/formatted_text/table.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add `alternate_row_style` to `Table`
  packages/apptk/src/apptk/formatted_text/table.py
  packages/apptk/tests/test_formatted_text_table.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Begin implementing variable viewer
  changelog/+variables-viewer.added.rst
  packages/euporie-core/src/euporie/core/kernel/base.py
  packages/euporie-core/src/euporie/core/kernel/jupyter.py
  packages/euporie-core/src/euporie/core/kernel/local.py
  packages/euporie-core/src/euporie/core/style.py
  packages/euporie-core/src/euporie/core/widgets/variables.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Further work on variable viewer
  packages/apptk/src/apptk/formatted_text/table.py
  packages/euporie-core/src/euporie/core/style.py
  packages/euporie-core/src/euporie/core/widgets/variables.py
  packages/euporie-notebook/src/euporie/notebook/app.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Ensure buffer gets focused on minimap click
  packages/euporie-core/src/euporie/core/widgets/minimap.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add support of OSC8 hyperlinks
  changelog/+osc8-hyperlinks.added.rst
  packages/apptk/examples/extended_styles.py
  packages/apptk/src/apptk/output/base.py
  packages/apptk/src/apptk/output/vt100.py
  packages/apptk/src/apptk/renderer.py
  packages/apptk/src/apptk/styles/base.py
  packages/apptk/src/apptk/styles/style.py
  packages/apptk/tests/test_apptk_hyperlinks.py
  packages/apptk/tests/test_formatted_text_table.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Use OSC8 links in `RichHTML` by default
  packages/apptk/src/apptk/formatted_text/html.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Update hyperlink tests
  packages/apptk/tests/test_apptk_hyperlinks.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fix bug with links in `RichHTML`
  packages/apptk/src/apptk/formatted_text/html.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Type fixes
  packages/apptk/src/apptk/application/application.py
  packages/apptk/src/apptk/color.py
  packages/apptk/src/apptk/layout/containers.py
  packages/apptk/src/apptk/widgets/toolbars.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add LSP servers as dev dependencies
  pyproject.toml
  uv.lock
Due: check-toml

Add `ft` merge helper function
  packages/apptk/src/apptk/formatted_text/utils.py
  packages/apptk/tests/test_formatted_text_utils.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Make more key-bindings in tips dynamic
  packages/apptk/src/apptk/widgets/toolbars.py
  packages/euporie-notebook/src/euporie/notebook/tips.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add additional tips to notebook
  packages/euporie-notebook/src/euporie/notebook/tips.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fix console saving
  packages/euporie-console/src/euporie/console/panes/console.py
  packages/euporie-core/src/euporie/core/panes/console.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Configure `matplotlib` once in local kernel
  packages/euporie-core/src/euporie/core/kernel/local.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add support for shell commands in local kernel
  changelog/+local-shell-magic.added.rst
  packages/euporie-core/src/euporie/core/kernel/local.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add support for `_` in local python kernel
  changelog/+local-underscore-output.added.rst
  packages/euporie-core/src/euporie/core/kernel/local.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fix command documentation script formatting
  scripts/document_commands.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Document commands from registered panes
  scripts/document_commands.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Use newly added intersphinx registry items
  docs/conf.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Flatten docs page structure
  docs/index.rst
  docs/pages/getting_started.rst
  docs/pages/glossary.rst
  docs/pages/installation.rst
  docs/pages/ipywidgets.rst
  docs/pages/kernels.rst
  docs/pages/lsp.rst
  docs/pages/multiplexers.rst
  docs/pages/remote_notebooks.rst
  docs/pages/terminal_graphics.rst
  docs/pages/theming.rst
Due: codespell

Update docs requirements
  docs/requirements.txt
  pyproject.toml
  uv.lock
Due: check-toml, codespell

Fix autodocs
  .gitignore
  docs/_templates/autosummary/module.rst
  docs/api/index.rst
Due: codespell

Add manual docstring for euporie namespace package
  docs/conf.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Update `apptk` docstring
  packages/apptk/src/apptk/__init__.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Add sidebar state callbacks
  packages/euporie-notebook/src/euporie/notebook/app.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Fixes for inline graphic sizing
  packages/apptk/src/apptk/convert/formats/common.py
  packages/apptk/src/apptk/formatted_text/html.py
Due: debug-statements, check-ast, ruff-check, ruff-format, codespell

Path conditions:
  debug-statements: any of: \.py$
  check-ast: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  codespell: any of: \.(md|txt|rst|py)$
