Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff, black

check-toml:
  name: Check Toml
  entry: hatch run check:check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: hatch run check:check-yaml
  language: system

ruff:
  name: ruff check
  entry: hatch run check:ruff check
  args:
  - --fix
  language: system
  require_serial: true

black:
  name: ruff format
  entry: hatch run check:ruff format
  language: system
  require_serial: true

Update screenshot in readme
  README.rst
Due: none

Update changelog
  CHANGELOG.rst
Due: none

Release v2.7.0
  euporie/core/__init__.py
Due: ruff, black

Correct release date in change-log
  CHANGELOG.rst
Due: none

Fix scrolling issue in Select widgets
  CHANGELOG.rst
  euporie/core/layout/scroll.py
  euporie/core/widgets/forms.py
Due: ruff, black

Ensure all visuals update on color scheme change
  euporie/core/app.py
  euporie/core/convert/datum.py
  euporie/core/convert/formats/ansi.py
  euporie/core/convert/formats/base64.py
  euporie/core/convert/formats/common.py
  euporie/core/convert/formats/ft.py
  euporie/core/convert/formats/html.py
  euporie/core/convert/formats/markdown.py
  euporie/core/convert/formats/pil.py
  euporie/core/convert/formats/png.py
  euporie/core/convert/formats/rich.py
  euporie/core/convert/formats/sixel.py
  euporie/core/convert/formats/svg.py
  euporie/core/ft/html.py
  euporie/core/graphics.py
  euporie/core/log.py
  euporie/core/style.py
  euporie/core/widgets/cell_outputs.py
  euporie/core/widgets/display.py
  tests/test_core_convert_datum.py
Due: ruff, black

Fix typo
  euporie/core/layout/print.py
Due: ruff, black

Automatic mouse support in console
  CHANGELOG.rst
  euporie/console/app.py
  euporie/console/tabs/console.py
  euporie/core/app.py
  euporie/core/layout/mouse.py
  euporie/notebook/app.py
Due: ruff, black

Handle missing file in text editor
  CHANGELOG.rst
  euporie/notebook/tabs/edit.py
Due: ruff, black

Allow redirecting stdout log to a file
  euporie/core/io.py
  euporie/core/log.py
  euporie/preview/app.py
Due: ruff, black

Immediate notification of kernel death
  CHANGELOG.rst
  euporie/core/kernel.py
Due: ruff, black

Add `force_graphics` config option
  CHANGELOG.rst
  euporie/core/app.py
  euporie/core/graphics.py
Due: ruff, black

Update default logging in `euporie-hub` to prevent flickering
  CHANGELOG.rst
  euporie/hub/app.py
Due: ruff, black

Prompt to save dirty text files
  CHANGELOG.rst
  euporie/notebook/tabs/edit.py
Due: ruff, black

Use clickable margin for kernel inputs
  euporie/core/widgets/inputs.py
  euporie/notebook/tabs/edit.py
Due: ruff, black

Exit on sigint
  euporie/core/app.py
Due: ruff, black

Clean up console keybindings
  euporie/console/app.py
  euporie/console/tabs/console.py
Due: ruff, black

Skip kernel in in preview if not running notebook
  euporie/core/tabs/base.py
  euporie/preview/tabs/notebook.py
Due: ruff, black

Clean up console keybindings a bit more
  euporie/console/tabs/console.py
Due: ruff, black

Use `hatch fmt` for formatting & linting
  pyproject.toml
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  black: any of: \.py$
