Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff, black

check-toml:
  name: Check Toml
  entry: hatch run hatch-static-analysis:check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: hatch run hatch-static-analysis:check-yaml
  language: system

ruff:
  name: ruff check
  entry: hatch run hatch-static-analysis:ruff check
  args:
  - --fix
  language: system
  require_serial: true

black:
  name: ruff format
  entry: hatch run hatch-static-analysis:ruff format
  language: system
  require_serial: true

Optimize screen rendering with row hashing and max index calculation
  euporie/core/renderer.py
Due: ruff, black

Add key-bindings to automatically close brackets
  CHANGELOG.rst
  euporie/core/filters.py
  euporie/core/key_binding/bindings/basic.py
Due: ruff, black

Add cache decorator to char_after_cursor function
  euporie/core/filters.py
Due: ruff, black

Typing fixes
  euporie/console/tabs/console.py
  euporie/core/__main__.py
  euporie/core/kernel/client.py
  euporie/core/key_binding/bindings/basic.py
  scripts/document_configuration_options.py
Due: ruff, black

Fix issue with tempfile suffixes
  CHANGELOG.rst
  euporie/core/widgets/cell.py
Due: ruff, black

Increment version number
  CHANGELOG.rst
  euporie/core/__init__.py
Due: ruff, black

Update publish script to use uv
  scripts/publish.py
Due: ruff, black

Update changelog
  CHANGELOG.rst
Due: none

Add force quit command
  euporie/core/app/_commands.py
Due: ruff, black

Hide hidden command from command bar completions
  euporie/core/bars/command.py
Due: ruff, black

Improvments to command bar
  euporie/core/bars/command.py
Due: ruff, black

Add tab type filter
  euporie/core/filters.py
Due: ruff, black

Add go-to-line/cell command
  euporie/core/app/_commands.py
Due: ruff, black

Resolve tab class using `pkgutil.resolve_name`
  euporie/core/tabs/__init__.py
Due: ruff, black

Typing fixes
  euporie/core/__main__.py
Due: ruff, black

WIP
  euporie/core/bars/menu.py
  euporie/core/cache.py
  euporie/core/graphics.py
  euporie/core/layout/cache.py
  euporie/core/layout/containers.py
  euporie/core/layout/controls.py
  euporie/core/layout/decor.py
  euporie/core/layout/mouse.py
  euporie/core/layout/print.py
  euporie/core/layout/scroll.py
  euporie/core/margins.py
  euporie/core/renderer.py
  euporie/core/widgets/dialog.py
  euporie/core/widgets/display.py
  euporie/core/widgets/file_browser.py
  euporie/core/widgets/forms.py
  euporie/core/widgets/layout.py
  euporie/core/widgets/menu.py
  euporie/core/widgets/palette.py
  euporie/web/widgets/webview.py
Due: ruff, black

WIP
  euporie/core/app/app.py
  euporie/core/graphics.py
  euporie/core/layout/cache.py
  euporie/core/layout/containers.py
  euporie/core/layout/decor.py
  euporie/core/layout/mouse.py
  euporie/core/layout/print.py
  euporie/core/layout/scroll.py
  euporie/core/margins.py
  euporie/core/renderer.py
  euporie/core/widgets/display.py
  euporie/preview/app.py
Due: ruff, black

Fix minor bug in scrolling container scroll function
  euporie/core/layout/scroll.py
Due: ruff, black

Ensure scroll container pre-rendering happenes once
  euporie/core/layout/scroll.py
Due: ruff, black

Improve scrolling container scroll position estimation
  euporie/core/layout/scroll.py
Due: ruff, black

Update pre-commit config
  .pre-commit-config.yaml
Due: check-yaml

Reorder publish steps to tag git before PyPI upload
  scripts/publish.py
Due: ruff, black

Add PDF display documentation to installation guide
  docs/pages/installation.rst
Due: none

Add GitHub release workflow with changelog extraction
  .github/workflows/release.yml
  scripts/extract_changelog_github.py
Due: check-yaml, ruff, black

Update logging config setting to use JSON object
  CHANGELOG.rst
  euporie/core/_settings.py
  euporie/core/log.py
Due: ruff, black

Update configuration documentation script
  scripts/document_configuration_options.py
Due: ruff, black

Update installation documentation
  docs/pages/installation.rst
Due: none

Use code-blocks in setting descriptions
  euporie/core/app/_settings.py
Due: ruff, black

Add support for custom style overrides via config
  euporie/core/app/_settings.py
  euporie/core/app/app.py
Due: ruff, black

Update Sphinx and related dependencies to latest versions
  docs/requirements.txt
  pyproject.toml
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  black: any of: \.py$
