Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: fix-byte-order-marker
        name: Fix Byte Order Marker
        entry: hatch run hatch-static-analysis:fix-byte-order-marker
        language: system
        types: [text]
      - id: check-added-large-files
        name: Check for added large files
        entry: hatch run hatch-static-analysis:check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: hatch run hatch-static-analysis:check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: hatch run hatch-static-analysis:check-yaml
        language: system
        types: [yaml]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: hatch run hatch-static-analysis:trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: hatch run hatch-static-analysis:end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff
        name: ruff check
        entry: hatch run hatch-static-analysis:ruff check
        args: ["--fix"]
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: ruff format
        entry: hatch run hatch-static-analysis:ruff format
        language: system
        types: [python]
        require_serial: true
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: hatch run hatch-static-analysis:codespell
        language: system
        types: [text]
      - id: tests
        name: tests
        entry: hatch run test:run
        language: system
        pass_filenames: false

Fix command line argument documentation script
  euporie/core/app/base.py
  euporie/core/app/launch.py
  euporie/core/config.py
  euporie/hub/app.py
  scripts/document_cli_flags.py
Due: ruff, black

Update default LSP server config
  euporie/core/lsp.py
  scripts/clone_helix_lsp_config.py
Due: ruff, black

User intersphinx registry for docs
  docs/conf.py
  pyproject.toml
Due: check-toml, ruff, black

Fix terminal feature detection in euporie-hub
  euporie/core/app/_settings.py
  euporie/core/app/app.py
  euporie/core/io.py
  euporie/core/terminal.py
  euporie/hub/app.py
  pyproject.toml
  tests/test_core_convert_datum.py
Due: check-toml, ruff, black

Load terminal queries before loading key-bindings
  euporie/core/app/app.py
Due: ruff, black

Do not re-focus buffer when accepting a completion
  euporie/core/key_binding/bindings/completion.py
Due: ruff, black

Strip whitespace from command-bar input
  euporie/core/bars/command.py
Due: ruff, black

Remove unused log statement
  euporie/core/widgets/menu.py
Due: ruff, black

Update imagemagick conversion commands
  euporie/core/convert/formats/common.py
  euporie/core/convert/formats/png.py
  euporie/core/convert/formats/sixel.py
Due: ruff, black

Update chafa.py conversion
  euporie/core/convert/formats/common.py
  pyproject.toml
Due: check-toml, ruff, black

Maintain image aspect ratio when converting with `timg`
  euporie/core/convert/formats/ansi.py
Due: ruff, black

Improve data size detection
  euporie/core/convert/datum.py
Due: ruff, black

Set background on imagemagick image conversion
  euporie/core/convert/formats/common.py
Due: ruff, black

Use common image scaling function
  euporie/core/convert/formats/ansi.py
  euporie/core/convert/formats/common.py
  euporie/core/convert/utils.py
Due: ruff, black

Prevent extra conversion in Display by using max_available_width as preferred width
  euporie/core/widgets/display.py
Due: ruff, black

Improve logging
  euporie/core/convert/utils.py
Due: ruff, black

Add conversion queue to prevent simultaneous conversions
  euporie/core/convert/datum.py
Due: ruff, black

Minor fix in Sphinx config
  docs/conf.py
Due: ruff, black

Add coding conventions and style guide
  CONVENTIONS.rst
Due: none

Update gitignore
  .gitignore
Due: none

Minor type checking fixes
  euporie/core/convert/datum.py
  euporie/core/convert/utils.py
Due: ruff, black
