Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff, black

check-toml:
  name: Check Toml
  entry: hatch run hatch-static-analysis:check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: hatch run hatch-static-analysis:check-yaml
  language: system

ruff:
  name: ruff check
  entry: hatch run hatch-static-analysis:ruff check
  args:
  - --fix
  language: system
  require_serial: true

black:
  name: ruff format
  entry: hatch run hatch-static-analysis:ruff format
  language: system
  require_serial: true

Allow display of remote in/outputs
  CHANGELOG.rst
  euporie/console/tabs/console.py
  euporie/core/comm/ipywidgets.py
  euporie/core/kernel.py
  euporie/core/layout/print.py
  euporie/core/tabs/base.py
  euporie/core/tabs/notebook.py
  euporie/core/widgets/cell.py
Due: ruff, black

Typing fixes
  euporie/core/__main__.py
  euporie/core/key_binding/bindings/vi.py
  euporie/core/layout/containers.py
  euporie/hub/app.py
  pyproject.toml
Due: check-toml, ruff, black

Show arrow instead of line number for single-line inputs
  CHANGELOG.rst
  euporie/core/margins.py
Due: ruff, black

Linting changes
  euporie/core/comm/ipywidgets.py
  euporie/core/commands.py
  euporie/core/config.py
  euporie/core/ft/html.py
  euporie/core/graphics.py
  euporie/core/key_binding/bindings/mouse.py
  euporie/core/layout/decor.py
  euporie/core/layout/scroll.py
  euporie/core/style.py
  euporie/core/terminal.py
  euporie/core/utils.py
  euporie/core/widgets/file_browser.py
  euporie/core/widgets/status.py
  euporie/web/tabs/web.py
  pyproject.toml
  scripts/document_cli_flags.py
  scripts/run_notebook.py
  scripts/show.py
  tests/test_core_comm_base.py
  tests/test_core_comm_ipywidgets.py
  tests/test_core_commands.py
  tests/test_core_style.py
  tests/test_core_validation.py
Due: check-toml, ruff, black

Fix various mouse issues
  CHANGELOG.rst
  euporie/core/key_binding/bindings/mouse.py
  euporie/core/margins.py
  euporie/core/widgets/forms.py
Due: ruff, black

Fixup comments
  euporie/core/layout/cache.py
Due: ruff, black

Use `uv` for hatch environments
  pyproject.toml
Due: check-toml

Update markdown dependencies
  pyproject.toml
Due: check-toml

Fix focus bug with dialogs
  euporie/core/widgets/dialog.py
Due: ruff, black

Cache results of conversion route finding
  euporie/core/convert/registry.py
Due: ruff, black

Cache results of Split dimension calcualtions
  euporie/core/layout/containers.py
Due: ruff, black

Micro-optimizations in `CachedContainer` blitting
  euporie/core/layout/cache.py
Due: ruff, black

Cache results of filters
  euporie/core/filters.py
Due: ruff, black

Prevent unnecessary invalidate event collection in preview app
  euporie/preview/app.py
Due: ruff, black

Reuse a single cell instance in preview tab
  euporie/preview/tabs/notebook.py
Due: ruff, black

Simplify cell borders
  euporie/core/widgets/cell.py
Due: ruff, black

Update changelog
  CHANGELOG.rst
Due: none

Fix key-bindings in custom `Box` widget
  euporie/core/widgets/layout.py
Due: ruff, black

Fix typo
  euporie/core/widgets/layout.py
Due: ruff, black

Do not use dynamic container for dialog buttons
  euporie/core/widgets/dialog.py
Due: ruff, black

Make tab-bar non-focusable
  euporie/core/widgets/layout.py
Due: ruff, black

Make split padding more efficient
  euporie/core/layout/containers.py
Due: ruff, black

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  black: any of: \.py$
